body {
	margin: 0;
	background-color: yellow;
}

.carilla {
	text-align: center;
	height: 60vh;
	line-height: 60vh;
	font-size: 100px;
}

.amarillo {
	background-color: #ffcc00;
}

.naranja {
	background-color: #ff9900;
}