<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Adalab Web Starter Kit</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

  <p class="carilla">:())</p>

  <select name="animo" id="animo" class ="animo">
    <option value=":)">feliz</option>
    <option value=":(" selected>triste</option>
  </select>

  <button class="btn">ACTUALIZAR</button>

  <script src="assets/js/main.js"></script>
</body>
</html>